# Node modules (Frontend + Backend)
node_modules/

# Build folders
build/
dist/

# uploads folder (if you don't want to push images/files)
uploads/



# OS / Editor files
.DS_Store
.vscode/
Thumbs.db
